{{#if suppliers}}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>N.</th>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        {{#each suppliers}}
        <tr>
            <td>{{@index}}</td>
            <td>{{supplierName}}</td>
            <td>{{phone}}</td>
            <td>
                <a href="/suppliers/edit/{{_id}}" class="btn btn-info">Editar</a>
                <a href="/suppliers/delete/{{_id}}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<div class="h-100 d-flex align-items-center justify-content-center">
    <div class="text-center">
        <h1 class="text-center">No hay Proveedores</h1>
        <img src="/icons/usuarios.png" style="width: 50%; height: auto;" >
    </div>
</div>
{{/if}}



